<footer id="footer">
	<div id="user-nav">
		<% if  user_signed_in? %>
			signed in
			<%= link_to 'sign out', destroy_user_session_path, :method => :delete %>
		<% end %>
	</div>
  <small class="copyright">
    Kory Tegman, Copyright &copy; <%= Date.today.year %>
  </small>
  <p><a href="mailto:korytegman@gmail.com"><b>korytegman@gmail.com</b></a> | <b>P:</b>206.605.5233</p>
</footer>