<footer id="footer">
  <small class="copyright">
    Kory Tegman, Copyright &copy; <%= Date.today.year %>
  </small>
  <p><a href="mailto:korytegman@gmail.com"><b>korytegman@gmail.com</b></a> | <b>P:</b>206.605.5233</p>
</footer>